body
{
    background: #fbfef9;
    color: #333333;
}

.container .form-group .form-control
{
    border-color: #bf1363;
}

.container .mx-auto .button
{
    background-color: #bf1363;
    text-align: center;
    color: white;
    border-radius: 8px;
    padding: 13px;
}
/* button
{
    background: #bf1363;
} */
input
{
    padding:2px;
    border-radius: 8px;
    border:1px solid;
}

thead
{
    background: #bf1363;
}